@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: skyblue">
    <h2 style="font-size: 40px" align="center" >University Course and Result Management System</h2>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>
<div  >
    <h2 style="font-size: 40px" align="center">Code 39</h2>
  <h3 >Representators : </h3>
</div>

<div class="row">
    <div class="col-md-3" style="background-color: skyblue">

        <p>Mohammad Anwarul Islam</p>
        <p>Jubayed Ahmed</p>
        <p>Sajjad Hossain</p>
        <p>Sultan Ibrahim Khalil</p>
       
    
    </div>
</div>